@if (question) {
  <div id="question-footer">
    <div class="navigation">
      @if (previousQuestion) {
        <a (click)="previous()">
          <img ngSrc="/assets/images/arrow.png" width="512" height="512" alt="previous page" class="rotate90"/>
        </a>
      }
    </div>
    <div class="error-management">
      <div (click)="askForAnswer()">Voir les réponses</div>
    </div>
    <div id="global-score"></div>
    <div class="error-management">
      @for (error of errors; track index; let index = $index) {
        <div [class.greyscale-1]="!error" (click)="addError()">
          <img ngSrc="/assets/images/error.png" width="1280" height="1280" alt="no-error sign"/>
        </div>
      }
    </div>
    <div class="navigation">
      <a (click)="next()">
        <img ngSrc="/assets/images/arrow.png" width="512" height="512" alt="next page" class="rotate270"/>
      </a>
    </div>
  </div>
}
