:host {
  width: 100vw;
  height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  #presentation {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 20px;
    gap: 20px;

    & > * {
      flex: 1;
    }
  }

  #logo-presentation {
    width: 600px;
    height: 600px;
    mix-blend-mode: multiply;
    flex: 2 !important;

    img {
      width: 100%;
      height: 100%;
    }
  }

  #image-presentation-left, #image-presentation-right  {
    display: flex;
    mix-blend-mode: multiply;
    width: 400px;
    height: 400px;

    & > img {
      width: 400px;
      height: 400px;
      margin: auto;
    }
  }
}
