:host {
  width: 100vw;
  height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  #logo-presentation {
    width: 700px;
    mix-blend-mode: multiply;

    img {
      width: 90%;
      height: 90%;
      display: flex;
      margin: auto;
    }
  }

  #presentation {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 20px;
    gap: 20px;

    & > * {
      flex: 1;
    }
  }
}
