@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: YAEZxhW1Plk-0;
  src: url(../assets/fonts/7723ea9f98a16ef490f29d77b7188065.woff2);
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/909d79c023e08588616f54ccedbeff8b.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/5eaa1f75db5780490f062b34ca329e3c.woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/391d1d817dabc982d4eeb61445e74bd3.woff2);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/184e323bd609d58952bbf6ef4d5c029b.woff2);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/79189c17fe5fc7c57cd0ad44a5c240f2.woff2);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/a535601aac029687b86e2ab6a84d2ac8.woff2);
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/79189c17fe5fc7c57cd0ad44a5c240f2.woff2);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/a535601aac029687b86e2ab6a84d2ac8.woff2);
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/909d79c023e08588616f54ccedbeff8b.woff2);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/391d1d817dabc982d4eeb61445e74bd3.woff2);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/7a6ff51c2c4dbd5694b8f012df585b40.woff2);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/afc41ac69ffa0929c6477c77fb7364f7.woff2);
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/7a6ff51c2c4dbd5694b8f012df585b40.woff2);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/afc41ac69ffa0929c6477c77fb7364f7.woff2);
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/5b2e989d3fbda56d0e9089d41d98a0d1.woff2);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/839fb8c1ed23ef4219b474ebda9696ba.woff2);
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/2602fce6f3ec66d466764f0d76def0d7.woff2);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: YAFdJpYuLss-0;
  src: url(../assets/fonts/7ab1c334a3ab8ced39f0b202ce734ef6.woff2);
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/5cbe9174aa2661a9d0fe505569d5ebc0.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/358e9e8c7980b4cf7911a7b21b73bc19.woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/316ae33a7491bd36c86222435aebf676.woff2);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/2d9e00aa76f95aee139e9831c03a0db2.woff2);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/2f2bcf7aa2e5bba8af2b2228f5f4b39a.woff2);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/b2ede146dfc47fee0be090bce4f1abba.woff2);
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/2f2bcf7aa2e5bba8af2b2228f5f4b39a.woff2);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/b2ede146dfc47fee0be090bce4f1abba.woff2);
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/2f2bcf7aa2e5bba8af2b2228f5f4b39a.woff2);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/b2ede146dfc47fee0be090bce4f1abba.woff2);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/b8f48bbf958c09ce7ad6108d65bf00eb.woff2);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/01efc1e709c2474c7f31fb05586f3400.woff2);
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/152a3ae5f6bf5c788bdc8f49d3c83b29.woff2);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/9a4edb20811ee2d36598af6558b3b639.woff2);
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/358e9e8c7980b4cf7911a7b21b73bc19.woff2);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/2d9e00aa76f95aee139e9831c03a0db2.woff2);
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/358e9e8c7980b4cf7911a7b21b73bc19.woff2);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: YAFdJhX-538-0;
  src: url(../assets/fonts/2d9e00aa76f95aee139e9831c03a0db2.woff2);
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/5f347d809fbaae3571f5a5326076b75f.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/4337fb65ac0f6766455bfbcf856799e0.woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/dcf3272ec26f22c65fadc66aaf615d4e.woff2);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/4fc0e31ecbb8ea9c3d0826e11ca50659.woff2);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/5f347d809fbaae3571f5a5326076b75f.woff2);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/dcf3272ec26f22c65fadc66aaf615d4e.woff2);
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/5f347d809fbaae3571f5a5326076b75f.woff2);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/dcf3272ec26f22c65fadc66aaf615d4e.woff2);
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/5f347d809fbaae3571f5a5326076b75f.woff2);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/dcf3272ec26f22c65fadc66aaf615d4e.woff2);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/5f347d809fbaae3571f5a5326076b75f.woff2);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/dcf3272ec26f22c65fadc66aaf615d4e.woff2);
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/4337fb65ac0f6766455bfbcf856799e0.woff2);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/4fc0e31ecbb8ea9c3d0826e11ca50659.woff2);
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/4337fb65ac0f6766455bfbcf856799e0.woff2);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/4fc0e31ecbb8ea9c3d0826e11ca50659.woff2);
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/4337fb65ac0f6766455bfbcf856799e0.woff2);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: YAEw2GhSLyw-0;
  src: url(../assets/fonts/4fc0e31ecbb8ea9c3d0826e11ca50659.woff2);
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: YADK37j5kj0-0;
  src: url(../assets/fonts/32939eeaa2e1a96aeb8c6f3a21a6438e.woff2);
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/f8f199f09526f79e87644ed227e0f651.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/d257a7100844bc3f98c9021168b6249e.woff2);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/f8f199f09526f79e87644ed227e0f651.woff2);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/d257a7100844bc3f98c9021168b6249e.woff2);
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/f8f199f09526f79e87644ed227e0f651.woff2);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/d257a7100844bc3f98c9021168b6249e.woff2);
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/f8f199f09526f79e87644ed227e0f651.woff2);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/d257a7100844bc3f98c9021168b6249e.woff2);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/f8f199f09526f79e87644ed227e0f651.woff2);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/d257a7100844bc3f98c9021168b6249e.woff2);
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: YACgEZ1cb1Q-0;
  src: url(../assets/fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
  font-style: italic;
  font-weight: 900;
}
