<div [ngClass]="getClassCurlicue(100, 1)" id="curlicue-1-1">
  <img [ngSrc]="'/assets/images/Question%201.1.png'" width="741" height="680"/>
</div>
<div [ngClass]="getClassCurlicue(100, 1)" id="curlicue-1-2">
  <img [ngSrc]="'/assets/images/Question%201.2.png'" width="625" height="981"/>
</div>
<div [ngClass]="getClassCurlicue(100, 3)" id="curlicue-2-1">
  <img [ngSrc]="'/assets/images/Question%203.1.png'" width="150" height="200"/>
</div>
<div [ngClass]="getClassCurlicue(100, 6)" id="curlicue-3-2">
  <img [ngSrc]="'/assets/images/Question%206.2.png'" width="200" height="183"/>
</div>
<div [ngClass]="getClassCurlicue(100, 8)" id="curlicue-4-1">
  <img [ngSrc]="'/assets/images/Question%208.1.png'" width="200" height="234"/>
</div>
<div [ngClass]="getClassCurlicue(100, 8)" id="curlicue-4-2">
  <img [ngSrc]="'/assets/images/Question%208.2.png'" width="200" height="344"/>
</div>
<div [ngClass]="getClassCurlicue(100, 11)" id="curlicue-5-1">
  <img [ngSrc]="'/assets/images/Question%2011.1.png'" width="117" height="300"/>
</div>
<div [ngClass]="getClassCurlicue(100, 11)" id="curlicue-5-2">
  <img [ngSrc]="'/assets/images/Question%2011.2.png'" width="200" height="234"/>
</div>
<div [ngClass]="getClassCurlicue(100, 14)" id="curlicue-6-1">
  <img [ngSrc]="'/assets/images/Question%2014.1.png'" width="200" height="186"/>
</div>
<div [ngClass]="getClassCurlicue(100, 14)" id="curlicue-6-2">
  <img [ngSrc]="'/assets/images/Question%2014.2.png'" width="174" height="300"/>
</div>
<div [ngClass]="getClassCurlicue(100, 15)" id="curlicue-7-1">
  <img [ngSrc]="'/assets/images/Question%2015.1.png'" width="200" height="267"/>
</div>
<div [ngClass]="getClassCurlicue(100, 15)" id="curlicue-7-2">
  <img [ngSrc]="'/assets/images/Question%2015.2.png'" width="149" height="250"/>
</div>
<div [ngClass]="getClassCurlicue(100, 17)" id="curlicue-8-1">
  <img [ngSrc]="'/assets/images/Question%2017.1.png'" width="200" height="267"/>
</div>
<div [ngClass]="getClassCurlicue(100, 17)" id="curlicue-8-2">
  <img [ngSrc]="'/assets/images/Question%2017.2.png'" width="200" height="267"/>
</div>
<div [ngClass]="getClassCurlicue(100, 24)" id="curlicue-9-1">
  <img [ngSrc]="'/assets/images/Question%2024.1.png'" width="200" height="267"/>
</div>
<div [ngClass]="getClassCurlicue(100, 24)" id="curlicue-9-2">
  <img [ngSrc]="'/assets/images/Question%2024.2.png'" width="200" height="267"/>
</div>
<div [ngClass]="getClassCurlicue(100, 27)" id="curlicue-10-1">
  <img [ngSrc]="'/assets/images/Question%2027.1.png'" width="200" height="267"/>
</div>
<div [ngClass]="getClassCurlicue(100, 27)" id="curlicue-10-2">
  <img [ngSrc]="'/assets/images/Question%2027.2.png'" width="200" height="267"/>
</div>

@if (question) {
  <h3>{{question.question}}</h3>
  @for (answer of question.answers; track answer; let index = $index) {
    <app-answer [answer]="answer" [number]="index + 1" [isAnswerShown]="isAnswerShown[index]" [isAnswerCorrect]="isAnswerCorrect[index]" (answerSelected)="showAnswer(index)"></app-answer>
  }
  @if (question.alternativeAnswers && isAnswerShown[question.answers.length]) {
    <div id="alternative-answer">
      <h4>Réponses alternatives</h4>
      @if (isAnswerShown) {
        {{question.alternativeAnswers.join(', ')}}
      }
    </div>
  }
}

